body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #dcf5ff;
    font-family: 'Nunito', sans-serif;
}

.container{
    background: white;
    width: 30%;
    border-radius: 10px;

    .inner{
        background: rgb(59, 170, 214);
        padding: 1em;
        border-radius: 10px;
        width: calc(100% - 2em);
        clip-path: inset(0% 0% 0% 100%);
        transition: all .5s ease-in-out;
        cursor: pointer;

        h1{
            color: white;
            margin: 0;
        }

        p{
            color: white;
            font-size: .8rem;
        }
    }
    &:hover .inner{
        clip-path: inset(0% 0% 0% 0%);
    }
}

    
    