body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background: #dcf5ff;
    font-family: 'Nunito', sans-serif;
}



    .inner{
        background: rgb(20, 207, 51);
        padding: 1em;
        border-radius: 10px;
        width: 250px;
        clip-path: circle(10% at 90% 20%);
        transition: all .5s ease-in-out;
        cursor: pointer;

        &:hover{
            clip-path: circle(75%);
            background: yellowgreen;
        }

        span{
            float: right;
            position: relative;
            right: 4%;
            color: white;
            transition: color .5s;
            font-weight: bold;
        }

        h1{
            color: white;
            margin: 0;
        }

        p{
            color: white;
            font-size: .8rem;
        }
    }
    